.overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1000;

    margin: 0;
    padding: 16px;
    border: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.overlay .overlay-holder {
    width: auto;
    height: auto;
}

.overlay .overlay-label {
    width: 80px;
    height: 16px;

    text-align: right;

    float: left;

    color: #fff;

    line-height: 16px;

    padding-right: 8px;

    margin: 2px;
}

.overlay .overlay-label.inactive {
    opacity: 0.2;
}

.overlay .overlay-holder .overlay-button {
    height: 16px;

    float: left;

    color: #000;
    background-color: #fff;

    line-height: 16px;

    padding-left: 8px;

    margin: 2px;

    pointer-events: auto;
    cursor: pointer;
}

.overlay .overlay-holder .overlay-button.standard {
    width: 80px;
}

.overlay .overlay-holder .overlay-button.half {
    width: 34px;
}

.overlay .overlay-holder .overlay-button.inactive {
    opacity: 0.2;

    pointer-events: none;
}

.overlay .overlay-holder .overlay-button:hover {
    color: #fff;
    background-color: #000;
}
